# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: npm/yarn/pnpm install
        uses: Jaid/action-npm-install@v1.2.4
        with:
        # NODE_ENV setting for installing execution (affects the amount of dependencies installed, but I would recommend keeping development in any case).
          nodeEnv: development # optional, default is development
        # Can be "npm", "yarn", "pnpm" or "auto". "auto" will determine the package manager by looking into the repo's files. This is very accurate, so you normally don't want to change this.
          packageManager: "npm"
        # If true and node_modules folder already exists, this action will be skipped assuming npm install is not required.
          skipIfNodeModulesExists: false # optional, default is false
      - name: npm run tests
        run: npm run test
